<!DOCTYPE html>
<html lang="es">
<head>

	<meta charset="UTF-8">
	
<!-- TÍTULO -->
	<title>{% block titulo %}{% endblock %}</title>
<!-- FIN/TÍTULO -->

</head>
<body>

<!-- BARRA DE NAVEGACIÓN -->
<nav>
	<ul>
		<!--==================FICHAS=====================-->
		<li><a href="{% url 'url_lista_fichas' %}">Fichas</a>
			<ul>
				<li><a href="{% url 'url_agregar_ficha' %}">agregar</a></li>
				<li><a href="{% url 'url_agregar_persona_ficha' %}"> agregar persona ficha</a></li>
			</ul>
		</li>
		<!--==================PERMISOS==================-->
		<li><a href="{% url 'url_lista_permisos' %}">Permisos</a></li>
		<!--==================PERSONAS==================-->
		<li><a href="">Personas</a>
			<ul>
				<li><a href="{% url 'url_lista_aprendices' %}">Aprendices</a></li>
				<li><a href="{% url 'url_agregar_vigilante' %}">Registrar Vigilante</a></li>
				<li><a href="{% url 'url_agregar_instructor' %}">Registrar Instructor</a></li>
				<li><a href="{% url 'url_agregar_aprendiz' %}">Registrar Aprendiz</a></li>
				<li><a href="{% url 'url_agregar_aprendiz_excel' %}">Buscar Excel</a></li>
				<li><a href="{% url 'url_registros_excel' %}">Cargar Excel</a></li>
			</ul>
		</li>
		<!--==================PROGRAMAS==================-->
		<li><a href="{% url 'url_lista_programas' %}">Programas</a>
			<ul>
				<li><a href="{% url 'url_agregar_programa' %}">agregar</a></li>
			</ul>
		</li>
		<!--==================ROLES==================-->
		<li><a href="{% url 'url_lista_roles' %}">Roles</a>
			<ul>
				<li><a href="{% url 'url_agregar_rol' %}">agregar</a></li>
			</ul>
		</li>
		<!--==================USUARIOS==================-->
		<li><a href="{% url 'url_usuarios' %}">Usuarios</a></li>
		<!--==================LOGIN-LOGOUT==================-->
		<li><a href="{% url 'url_login' %}">login</a></li>
		<li><a href="{% url 'url_logout' %}">logout</a></li>
	</ul>
</nav>
<!-- FIN/BARRA DE NAVEGACIÓN -->

<!-- CONTENIDO -->
<section>
	{% block contenido %}
	{% endblock %}
</section>
<!-- FIN/CONTENIDO -->

</body>
</html>