{% extends 'main/main.html' %}
{% block titulo %}Listar Aprendices{% endblock %}
{% block contenido %}
  <table>
		<tr>
    	<th>Identida</th>
   		<th>Nombre</th>
   		<th>Apellido</th>
   		<th>Email</th>
      <th>Editar</th>
      <th>Eliminar</th>
   	</tr>
	  {% for l in rp %}
    <tr>
			<td>{{l.persona.documentoIdentidad}}</td>
			<td>{{l.persona.nombres}}</td>
			<td>{{l.persona.apellidos}}</td>
			<td>{{l.persona.usuario.email}}</td>
      <td><a href="{% url 'url_editar_aprendiz' id_aprendiz=l.persona.id %}">editar</a></td>
      <td><a href="{% url 'url_eliminar_aprendiz' id_aprendiz=l.id %}">eliminar</a></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}